<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Personal</title>
    <link rel="stylesheet" href="/assets/css/index-styles.css">
</head>
<body>
    <header>
        <h1>Nicolas Lagos</h1>
    </header>
    <nav>
        <div>   
            <div>
                <ul >
                    <li><a class="nav-link" href="#perfil">Sobre Mí</a></li>
                    <li><a class="nav-link" href="#skills">Habilidades</a></li>
                    <li><a class="nav-link" href="#projects">Proyectos</a></li>
                    <li><a class="nav-link" href="#contact">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    <main>
        <div>
            <section>
                <div>
                    <img id="perfil" src="https://i.pinimg.com/564x/19/07/31/19073125e883c05eae1d19dec14c964c.jpg" alt="Foto de perfil">
                    <div class="content">
                        <h2>Sobre Mí</h2>
                        <p>Estudiante del Tecnico Profesional en Informatica enfocado en el desarrollo web</p>
                    </div>
                </div>
            </section>
        
            <aside id="contact">
                <h3>Información Adicional</h3>
                <ul>
                    <li><a href="https://www.instagram.com/asciifer" >Instagram</a></li>
                    <li><a href="https://github.com/nlagos1" >GitHub</a></li>
                </ul>
            </aside>
        </div>
        
        <section id="skills">
            <h2>Habilidades</h2>
            <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
            </ul>
        </section>
        
        <section id="projects">
            <h2>Proyectos</h2>
            <div>
                <div>
                    <div>
                        <div>
                            <img id="umbrella" src="https://www.latercera.com/resizer/v2/MRZ2PMD27ZEVFNHZDFS4NRHBN4.jpg?quality=80&smart=true&auth=c4c95c8d99de72018f62ca7e6c622598b33855e67cf35c89bfa975412b08432c&width=690&height=502">
                            <img id="gilfriends" src="https://m.media-amazon.com/images/I/81Y975EwrcL._AC_UF1000,1000_QL80_.jpg">
                            <div class="content">
                                <div>
                                    <a href="https://fabulous-wisp-a82223.netlify.app/">Proyecto Umbrella Turistic</a>
                                    <a href="https://github.com/JoTche93/noviasx100">100 Gilfriends</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <footer>
        <p>2025 Nicolas Lagos</p>
    </footer>
    </body>
</html>
